@charset "UTF-8";
html {
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
}

body {
  width: 100vw;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

header {
  display: flex;
  width: 100vw;
  height: 8.25rem;
  padding: 0.625rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: beige;
  max-width: 120rem; /*반응형 위해서 설정 */
}
header .logo {
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

main {
  display: block;
  width: 100vw;
  height: 20rem;
  padding: 0.625rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  max-width: 120rem; /*반응형 위해서 설정 */
}

.carousel {
  margin: auto;
  background-color: beige;
  max-height: 40rem;
}
.carousel .mainpage {
  display: block;
}
.carousel img {
  display: flex;
  width: 10rem;
  height: 10rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}
.carousel indicator {
  position: relative;
}