<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="code">

    <select id="getSolvedByDay" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT TO_CHAR(C_DATE, 'YYYY-MM-DD HH24:MI:SS') AS C_DATE, COUNT(ID) AS SOLVED
        FROM CODE
        WHERE ID = #{id}
        GROUP BY C_DATE
        ORDER BY C_DATE ASC
    </select>

    <select id ="" resultType="java.util.Map" parameterType="java.lang.String">

    </select>

    <!-- 날짜별 푼 문제 -->
    <select id="getSolvedByDaySelectedMonth" resultType="java.util.Map" parameterType="java.lang.String">
        WITH DATE_COUNT AS (
        SELECT TO_CHAR(C_DATE, 'YYYY-MM-DD') AS C_DATE, COUNT(ID) AS SOLVED
        FROM CODE
        WHERE ID = #{id}
        AND TO_CHAR(C_DATE, 'YYYY-MM') = #{c_date}
        GROUP BY TO_CHAR(C_DATE, 'YYYY-MM-DD')
        )
        SELECT C_DATE, SUM(SOLVED) AS SOLVED
        FROM DATE_COUNT
        GROUP BY C_DATE
        ORDER BY C_DATE ASC
    </select>

    <select id ="getTotalSolvedById" resultType ="java.lang.Integer">
        select count(*) from code where id = #{id}
    </select>

    <insert id = "insertCode">
        INSERT INTO CODE (C_NO, ID, C_FILENAME, C_SOURCE, C_README, C_LIKE, C_DATE,C_LEVEL, C_PROBLEMID)
        VALUES (C_NO_SEQ.NEXTVAL, #{id}, #{c_filename}, #{c_source}, #{c_readme}, 0, #{c_date}, #{c_level}, #{c_problemid})
    </insert>

    <select id = "getSolvedCode" resultType="com.example.podofarm.vo.CodeVO">
        SELECT * FROM CODE WHERE id = #{id} order by c_date desc
    </select>

    <select id = "getCodeByProblemId" resultType="com.example.podofarm.vo.CodeVO">
        SELECT * FROM CODE WHERE c_problemid = #{problemid}
    </select>
</mapper>