<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="code">

    <!-- 날짜별 푼 문제 -->
    <select id="getSolvedByDay" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT TO_CHAR(C_DATE, 'YYYY-MM-DD HH24:MI:SS') AS C_DATE, COUNT(ID) AS SOLVED
        FROM CODE
        WHERE ID = #{id}
        GROUP BY C_DATE
        ORDER BY C_DATE ASC
    </select>

</mapper>