<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study">
    <insert id = "createStudy">
        INSERT INTO STUDY (S_NO, ID, S_CODE, S_NAME, S_START, S_END, S_PASSWORD)
        VALUES (STUDYNO_SEQ.NEXTVAL, #{id}, #{s_code}, #{s_name}, #{s_start}, #{s_end}, #{s_password})
    </insert>

    <update id = "updateStudyLeader">
        UPDATE USERS SET STUDY = 1, LEADER = 1 WHERE ID = #{id}
    </update>

</mapper>