<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <!-- 구글로그인으로 로그인 했을 때 회원 테이블 생성-->
    <insert id="insertUser" parameterType="userVO">
        INSERT INTO USER (USERNO, ID, PASSWORD, NAME, GENDER, PHONE, STUDY, STUDY_NAME, SOLVED, LEADER)
        VALUES (USERNO_SEQUENCE.NEXTVAL, #{googleId}, #{encryptedPassword}, #{googleName}, #{googleGender}, #{googlePhone}, 0, '', 0, 0, 0)
    </insert>



</mapper>