<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="UTF-8">
    <title>Title</title>


    <!-- css 공간-->
    <link rel="stylesheet" href="/css/ver4/style.css">
</head>
<body>
<header>
    <div th:include="/ver4/header/header-globalbar-localbar-ver4.html" class="header-personal"></div>
</header>

<main id = "personalpage-main">
    <div class="personalpage-main">
        <div class="personalpage-container">
            <div class="personalpage-container-header">
                <div class="personalpage-container-header-title">
                    <div class="personalpage-container-header-title-text">우종호님의 포도농장</div>
                </div>
                <div class="personalpage-container-header-totalsolved">
                    <div class="personalpage-container-header-totalsolved-text">총 푼 문제수 :</div>
                    <div class="personalpage-container-header-totalsolved-count">200</div>
                </div>
            </div>



            <div class="personalpage-container-search">정렬 검색 미완성</div>
            <div class="personalpage-container-list">
                <div class="personalpage-container-list-title">
                    <div class="personalpage-container-list-title-day">푼 날짜</div>
                    <div class="personalpage-container-list-title-problemtitle">제 목</div>
                    <div class="personalpage-container-list-title-level">난이도</div>
                    <div class="personalpage-container-list-title-time">걸린시간(분)</div>

                </div>
                <div class="personalpage-container-list-area">
                    <div class="personalpage-container-list-area-day">2024-04-09</div>
                    <div class="personalpage-container-list-area-problemtitle">강원도에 위치한 생산공장 목록 출력하기</div>
                    <div class="personalpage-container-list-area-level">Lv 1</div>
                    <div class="personalpage-container-list-area-time">120</div>
                </div>

                <div class="personalpage-container-list-area">
                    <div class="personalpage-container-list-area-day">변수 입력하기</div>
                    <div class="personalpage-container-list-area-problemtitle">변수입력하기</div>
                    <div class="personalpage-container-list-area-level">Lv 1</div>
                    <div class="personalpage-container-list-area-time">120</div>
                </div>
            </div>


            <div class="personalpage-container-pagenum">페이지 num</div>
        </div>
        <div class="personalpage-sidebar">
            <div class="personalpage-sidebar-level">
                <div class="personalpage-sidebar-level-title">
                    <div class="personalpage-sidebar-level-title-text">난이도별 푼 문제</div>
                </div>
                <div class="personalpage-sidebar-level-area">
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 1 :</div>
                        <div class="personalpage-sidebar-level-area-solved">20</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 2 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 3 :</div>
                        <div class="personalpage-sidebar-level-area-solved">2</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 4 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 5 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                </div>
            </div>



            <div class="personalpage-sidebar-time">
                <div class="personalpage-sidebar-time-title">
                    <div class="personalpage-sidebar-time-title-text">오래걸린 문제 TOP 5</div>
                </div>
                <div class="personalpage-sidebar-time-area">
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">1 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 asdfasdfd :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">xxxxxxxxxxxx :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 문제이름 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 문제이름 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</main>
<script src="/js/ver4/main.js"></script>
</body>
</html>