<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- css 공간-->
    <link rel="stylesheet" href="/css/ver4/style.css">
</head>
<body>
<header>
    <div th:include="/ver4/header/header-globalbar-localbar-ver4.html" class="personal-header "></div>
</header>

<main id = "personalpage-main">
    <div class="personalpage-main">
        <div class="personalpage-container">
            <div class="personalpage-container-header">
                <div class="personalpage-container-header-title">
                    <div class="personalpage-container-header-title-text">
                        <div th:text="${getName} + '님의 포도농사'"></div>
                    </div>
                </div>
                <div class="personalpage-container-header-totalsolved">
                    <div class="personalpage-container-header-totalsolved-text">총 푼 문제수 :</div>
                    <div class="personalpage-container-header-totalsolved-count">
                        <div th:text ="${getTotalSolvedById}"></div>
                    </div>
                </div>
            </div>


            <div class="personalpage-container-search">정렬 검색 미완성</div>
            <div  class="personalpage-container-list">
                <div class="personalpage-container-list-title">
                    <div class="personalpage-container-list-title-day">푼 날짜</div>
                    <div class="personalpage-container-list-title-problemtitle">제 목</div>
                    <div class="personalpage-container-list-title-level">난이도</div>
                    <div class="personalpage-container-list-title-time">걸린시간(분)</div>

                </div>
                <a th:href="@{/ps/{code}(code=${code.c_problemid})}" th:each="code : ${code}" class="personalpage-container-list-area">
                    <div th:text="${#dates.format(code.c_date, 'yyyy-MM-dd')}" class="personalpage-container-list-area-day"></div>
                    <div th:text="${code.c_filename}" class="personalpage-container-list-area-problemtitle">강원도에 위치한 생산공장 목록 출력하기</div>
                    <div class="personalpage-container-list-area-level">Lv 1</div>
                    <div class="personalpage-container-list-area-time">120</div>
                </a>

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:href="@{'/ps?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="personalpage-sidebar">
            <div class="personalpage-sidebar-level">
                <div class="personalpage-sidebar-level-title">
                    <div class="personalpage-sidebar-level-title-text">난이도별 푼 문제</div>
                </div>
                <div class="personalpage-sidebar-level-area">
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 1 :</div>
                        <div class="personalpage-sidebar-level-area-solved">20</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 2 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 3 :</div>
                        <div class="personalpage-sidebar-level-area-solved">2</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 4 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                    <div class="personalpage-sidebar-level-area-bar">
                        <div class="personalpage-sidebar-level-area-title">LEVEL 5 :</div>
                        <div class="personalpage-sidebar-level-area-solved">200</div>
                    </div>
                </div>
            </div>



            <div class="personalpage-sidebar-time">
                <div class="personalpage-sidebar-time-title">
                    <div class="personalpage-sidebar-time-title-text">오래걸린 문제 TOP 5</div>
                </div>
                <div class="personalpage-sidebar-time-area">
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">1 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 asdfasdfd :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">xxxxxxxxxxxx :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 문제이름 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                    <div class="personalpage-sidebar-time-area-bar">
                        <div class="personalpage-sidebar-time-area-bar-title">여긴 문제이름 :</div>
                        <div class="personalpage-sidebar-time-area-bar-time">120</div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</main>
<script src="/js/ver4/main.js"></script>
</body>
</html>