
  <!-- HTML -->
  <div class="globalbar-container">
    <div class="left-section">
      <div class="logo">
        <a href="#">
          <img src="../../../images/podofarm.svg" alt="logo">
        </a>
      </div>
      <div class="title">
        <div>P O D O F A R M</div>
      </div>
    </div>
    <div class="right-section">
      <div class="user-icon">
        <div class="icon">
          <img src="../../../images/person-circle.svg" alt="icon">
        </div>
      </div>
    </div>
  </div>
