@import "../scss/style.scss";

header{
  display: flex;
  width: 100vw;
  height: 8.25rem;
  padding: 0.625rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: beige;
  max-width: 120rem; /*반응형 위해서 설정 */

  .logo{
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
  }
}

// 카러셀 영역
main{
  display: block;
  width: 100vw;
  height: 20rem;
  padding: 0.625rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  max-width: 120rem; /*반응형 위해서 설정 */
}

.carousel{
  margin : auto;
  background-color : $test-color1;
  max-height : 40rem;

  .mainpage{
    display:block
  }

  img{
    display: flex;
    width: 10rem;
    height: 10rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin : auto;
  }

  indicator{
    position:relative;
  }
}