

$color-background : #f6f6f9;
$color-white : #ffffff;
$color-purple: #624bff;
$color-shadow : rgba(0,0,0,0.4);
$box-shadow : 0 2rem 3rem $color-shadow;
$test-color1 : beige;
$test-color2 : blue;


html {
  font-size : 14px;
  font-family: Poppins;
  font-style: normal;
}

body{
  width : 100vw;
  margin : auto;
  display : inline-flex;
  flex-direction : column;
  align-items: flex-start;
  gap : 0.625rem;
}
