<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- css 영역-->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/main/aside/dashboard-sidbar.css">

    <!--font 영역-->
    <!-- js 영역-->


</head>

<body>
    <div class="dashboard-sidebar">

        <div class="dashboard-sidebar-navbar">
            <div class="dashboard-sidbar-navbar-title">포도 농사원</div>
            <div class="dashboard-sidbar-navbar-members">
                <div class="dashboard-sidbar-navbar-members-icon">
                    <img src="../../../../images/person-circle.svg">
                </div>
                <div class="dashboard-sidbar-navbar-members-name">
                    링크 걸어야함
                </div>
            </div>


        </div>

        <div class="dashboard-sidebar-recentactionbar">
            <div class="dashboard-sidebar-recentactionbar-title">최근활동</div>
            <div class="dashboard-sidebar-recentactionbar-main">
                <div class="dashboard-sidebar-recentactionbar-alaram">
                <div class="dashboard-sidebar-recentactionbar-alaram-time">2 hours ago</div>
                <div class="dashboard-sidebar-recentactionbar-alaram-content">> 우종호님이 숫자 구하기 문제를 풀었습니다!</div>
                
            </div>

        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</body>

</html>