<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- css 영역-->
    <!-- 스타일 , 컴포넌트 container - aisde -->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/main/container/component-container-aside-ranking.css">

    <!-- font : 배민 한나체-->
    <!-- js 영역-->


</head>

<body>

    <div class="dashboard-container-aside">
        <div class="dashboard-container-aside-totalranking">
            <div class="dashboard-container-aside-totalranking-title">가장 많이 푼 사람</div>
            <div class="dashboard-container-aside-totalranking-area">
                <div class="dashboard-container-aside-totalranking-area-members">
                    1. 데이터에 대한 1등 값 문제수 : 100
                </div>
                <div class="dashboard-container-aside-totalranking-area-members">
                    2. 아이디최대몇글자로?10글자?
                </div>
            </div>
        </div>

        <div class="dashboard-container-aside-monthranking">
            <div class="dashboard-container-aside-monthranking-title">이번 달 순위</div>
            <div class="dashboard-container-aside-monthranking-area">
                <div class="dashboard-container-aside-monthranking-area-members">
                    1.
                </div>
                <div class="dashboard-container-aside-monthranking-area-members">
                    2. 변동하는 데이터 값. 
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</body>

</html>