
<div class="home-main">
    <div class="google-login">
        <div id="g_id_onload"
             data-client_id="293359796739-nqi4o7fggg8tk269i7ci2i8ppsf8uoao.apps.googleusercontent.com"
             data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse" data-nonce=""
             data-auto_prompt="false">
        </div>

        <!-- 팝업 창 -->
        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
             data-text="signin_with" data-size="medium" data-logo_alignment="left">
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">PODOFAM</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extension-href">
        <div>포도팜 확장프로그램 다운로드</div>
    </div>

    <!--
    <div class="home-explain">

    </div>
    -->

</div>



