<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/ver4/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

<div class="makestudy-main">

    <main>
        <div class="makestudy-container">
            <div class="makestudy-container-content">
                <span>님은 스터디가 없어요!</span>
            </div>
            <div class="makestudy-container-button">
                <div class="makestudy-container-button-making" data-bs-toggle="modal" data-bs-target="#createStudyModal">
                    스터디 생성
                </div>
                <div class="makestudy-container-button-searching" data-bs-toggle="modal" data-bs-target="#searchStudyModal">
                    스터디 찾기
                </div>
            </div>
        </div>
    </main>
</div>

<!-- 스터디 생성 모달 -->
<div class="modal fade" id="createStudyModal" tabindex="-1" aria-labelledby="createStudyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudyModalLabel">스터디 생성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="studyName" class="form-label">스터디명</label>
                        <input type="text" class="form-control" id="studyName" required>
                    </div>
                    <div class="mb-3">
                        <label for="studyStartDate" class="form-label">시작일</label>
                        <input type="date" class="form-control" id="studyStartDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="studyEndDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="studyEndDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="studyPassword" class="form-label">스터디 비밀번호</label>
                        <input type="password" class="form-control password-input" id="studyPassword" maxlength="4" placeholder="숫자 4자리를 입력하세요" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">생성</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- 스터디 찾기 모달 -->
<div class="modal fade" id="searchStudyModal" tabindex="-1" aria-labelledby="searchStudyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchStudyModalLabel">스터디 찾기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="searchStudyName" class="form-label">스터디코드</label>
                        <input type="text" class="form-control" id="searchStudyName" required>
                    </div>
                    <div class="mb-3">
                        <label for="searchStudyPassword" class="form-label">스터디 비밀번호</label>
                        <input type="password" class="form-control password-input" id="searchStudyPassword" maxlength="4" placeholder="숫자 4자리를 입력하세요" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">찾기</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
</script>
</body>

</html>
