<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body>

<!-- 타임리프 설정하기 -->


    <div class="dashboard-container">
        <div class="dashboard-podofarm">
            <div class="dashboard-podofarm-title">
                <div class="dashboard-podofarm-title-text">이번 달 포도농사</div>
                <div class="dashboard-podofarm-title-users">포도농사원 : 김경선, 우종호 </div>
            </div>
            <div class="dashboard-podofarm-main-count">
                <div>less</div>
                <div class="dashboard-podofarm-main-count-grape0"></div>
                <div class="dashboard-podofarm-main-count-grape1"></div>
                <div class="dashboard-podofarm-main-count-grape2"></div>
                <div class="dashboard-podofarm-main-count-grape3"></div>
                <div class="dashboard-podofarm-main-count-grape4"></div>
                <div>more</div>
            </div>

            <div class="dashboard-podofarm-grape">
                <div class="dashboard-podofarm-grape-title">
                    <div class="dashboard-podofarm-grape-title-month">
                        DECEMBER
                    </div>
                    <div th:each="day:${#numbers.sequence(1,DayCheck)}"class="dashboard-podofarm-grape-title-days">
                        <span th:text="${day}">1</span>
                    </div>
                </div>
                <div class="dashboard-podofarm-grape-month">
                    <div class="dashboard-podofarm-grape-user">이름짱짱맨</div>
                    <div th:each="day:${#numbers.sequence(1,DayCheck)}"class="dashboard-podofarm-grape-title-days"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>